# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.settings
/.classpath
/.project
/.tomcatplugin
/target
/work
/src/main/webapp/.#webclasspath

.idea/
.ipr
# Intellij工程文件
.iml
# Intellij 模块文件
.iws
# Intellij 工作区文件
weixin-java-tools-springmvc.iml



# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
.tag
.releaseBackup
.versionsBackup
.next
release.properties
dependency-reduced-
buildNumber.properties
.mvn/timing.properties


 

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea
.idea/
.idea/artifacts/
.idea
.idea/artifacts
*.iml
*.log
*.project
*.classpath
.settings/
.DS_Store

welfare-*
local*
#加一个新的模块！
.gitmodules
#pom.xml
